# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Tycho

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.12
    - name: Cache local Maven repository
      uses: actions/cache@v5
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: mvn -U -V -ntp -e clean verify --file pom.xml
    - name: SCP artifacts to download.eclipse.org
      if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository == 'eclipse-shellwax/shellwax'
      uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345 # v1
      with:
        host: projects-storage.eclipse.org
        username: ${{ secrets.SCP_USERNAME }}
        key: ${{ secrets.SCP_KEY }}
        passphrase: ${{ secrets.SCP_PASSPHRASE }}
        source: "org.eclipse.shellwax.site/target/repository/**"
        target: "/home/data/httpd/download.eclipse.org/shellwax/ghasnapshots/"
        rm: true
        strip_components: 2
